grumphp:
  process_timeout: 3600
  hide_circumvention_tip: true
  ascii:
    failed: ~
    succeeded: ~
  fixer:
    enabled: true
    fix_by_default: true
  environment:
    paths:
      - .env
      - .env.local
  testsuites:
    git_commit_msg:
      tasks:
        - git_commit_message
    git_pre_commit:
      tasks:
        - composer
        - git_blacklist
        - git_branch_name
        - phpcpd
        - phpcs
        - phpmd
        - phpstan
        - yamllint
    tests:
      tasks:
        - behat
        - phpunit
  tasks:
    behat:
      config: behat.qa-drupal.yml
    composer:
      no_check_publish: true
    composer_normalize: ~
    git_blacklist:
      keywords:
        - " die\\("
        - " exit;"
        - " exit\\("
        - "\\$_[A-Z_]+\\["
      regexp_type: E
      whitelist_patterns:
        - "#^web/(modules|themes|profiles)/custom/#"
      triggered_by:
        - inc
        - install
        - module
        - php
        - profile
        - theme
    git_branch_name:
      whitelist:
        - "#^master|develop|feature/([A-Z][A-Z0-9]+-\\d+|[a-z][a-z0-9]*(-[a-z0-9]+)*)|(release|hotfix)/\\d+(\\.\\d+){2}$#"
    git_commit_message:
      matchers:
        - "/^([A-Z][A-Z0-9]+-\\d+(, [A-Z][A-Z0-9]+-\\d+)*: )?(Add|Change|Fix|Update|Remove|Refactor) /"
      case_insensitive: false
    phpcpd:
      directory:
        - web
      exclude:
        - web/config
        - web/core
        - web/libraries
        - web/*/contrib
        - web/modules/custom/*/tests
        - web/sites
        - "*.api.php"
        - "*Test.php"
        - "*TestBase.php"
        - "*TestCase.php"
      min_lines: 10
      triggered_by:
        - inc
        - install
        - module
        - php
        - profile
        - theme
    phpcs:
      standard:
        - phpcs.qa-drupal.xml
      report_width: 120
      whitelist_patterns:
        - "#^web/(modules|themes|profiles)/custom/#"
      ignore_patterns:
        - build/
        - node_modules/
        - sassdocs/
      triggered_by:
        - css
        - inc
        - install
        - js
        - module
        - php
        - profile
        - theme
        - twig
        - yml
    phpmd:
      ruleset:
        - phpmd.qa-drupal.xml
      whitelist_patterns:
        - "#^web/(modules|themes|profiles)/custom/#"
      exclude:
        - "*.api.php"
        - "*Test.php"
        - "*TestBase.php"
        - "*TestCase.php"
      triggered_by:
        - inc
        - install
        - module
        - php
        - profile
        - theme
    phpstan:
      configuration: phpstan.qa-drupal.neon
      force_patterns:
        - "#^web/(modules|themes|profiles)/custom/((?:(?!tests)[^/])+/)+[^/]+\\.(inc|install|module|php|profile|theme)$#"
      ignore_patterns:
        - "#.*#"
      triggered_by:
        - inc
        - install
        - module
        - php
        - profile
        - theme
    phpunit:
      config_file: phpunit.qa-drupal.xml
    securitychecker:
      lockfile: ./composer.lock
      format: ~
      end_point: ~
      timeout: ~
      run_always: false
    twigcs:
      path: 'web/themes/custom'
      severity: 'warning'
      ruleset: 'FriendsOfTwig\Twigcs\Ruleset\Official'
      triggered_by: ['twig']
      exclude: ['vendor']
    yamllint:
      whitelist_patterns:
        - "#^(\\.[^/]+/)?[^/]+\\.yml$#"
        - "#^config/#"
        - "#^web/(modules|themes|profiles)/custom/#"
      ignore_patterns:
        - node_modules/

services:
  listener.qa_drupal.console:
    class: Digipolisgent\QA\Drupal\GrumPHP\EventListener\ConsoleEventListener
    tags:
      - { name: grumphp.event_listener, event: console.terminate, method: onTerminate }
      - { name: grumphp.event_listener, event: console.exception, method: onException }
  listener.qa_drupal.task:
    class: Digipolisgent\QA\Drupal\GrumPHP\EventListener\TaskEventListener
    tags:
      - { name: grumphp.event_listener, event: grumphp.task.run, method: onRun, priority: 100 }
