parameters:
  ignoreErrors:
    - '#Unsafe usage of new static\(\)#'
    - '#\\Drupal calls should be avoided in classes#'
    - '#Method Drupal\\Core\\Form\\FormBuilderInterface::getForm\(\) invoked with#'
    - '#Access to an undefined property Drupal\\Core\\TypedData\\TypedDataInterface::\$#'
    - '#Access to an undefined property Drupal\\.+\\Field\\.+Item(List)?(Interface)?::\$#'
