includes:
  - ../../../mglaman/phpstan-drupal/extension.neon
  - ../../../phpstan/phpstan-deprecation-rules/rules.neon

parameters:
  tipsOfTheDay: false
  customRulesetUsed: true
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - '#^(?:(?!deprecated).)*$#'
  drupal:
    drupal_root: ../drupal
