includes:
  - vendor/mglaman/phpstan-drupal/extension.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
  tipsOfTheDay: false
  checkMissingIterableValueType: false
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - "#Unsafe usage of new static\\(\\)#"
    - "#\\Drupal calls should be avoided in classes#"
  excludes_analyse:
    - "*/node_modules/*"
