includes:
  - vendor/mglaman/phpstan-drupal/extension.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
  tipsOfTheDay: false
  customRulesetUsed: true
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - '#^(?:(?!deprecated).)*$#'
  excludes_analyse:
    - 'tests/*'
  drupal:
    drupal_root: ../drupal
